.logistics {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #2b2b2b;
  padding: 2rem;
  max-width: 50rem;
  width: 90%;
  margin: -2rem auto;
  color: #d5eeeb;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.image {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
}

.list {
  flex: 3;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.logistics address {
  white-space: pre;
}
.image img {
  width: 20rem;
  height: 20rem;
}
